<dl class="detail-grid">
  <dt>Title</dt><dd>{{ object.title }}</dd>
  {% if object.getTags %}
  {# The emoji are already in the title above; this spells out what they mean.
     Only rendered when the event carries tags, so untagged events look as before. #}
  <dt>Labels</dt>
  <dd class="flex flex-wrap gap-1.5">
    {% for tag in object.getTags %}<span class="badge badge-tag">{{ tag.emoji }} {{ tag.label }}</span>{% endfor %}
  </dd>
  {% endif %}
  <dt>Start</dt><dd>{{ object.getStartLocalizedStr }}</dd>
  <dt>End</dt><dd>{{ object.getEndLocalizedStr }}</dd>
  <dt>Creator</dt><dd>{{ object.getCreatorName }}</dd>
  <dt>Owner</dt><dd>{{ object.getOwnerName }}</dd>
  <dt>Approver</dt><dd>{{ object.getApproverName }}</dd>
  <dt>Date Created</dt><dd>{{ object.dateCreated|date }}</dd>
  <dt>Reason</dt><dd>{{ object.reason }}</dd>
  <dt>Location Name</dt><dd>{{ object.locationName }}</dd>
  <dt>Street Address</dt><dd>{{ object.streetAddress }}</dd>
  <dt>City</dt><dd>{{ object.city }}</dd>
  <dt>State</dt><dd>{{ object.state }}</dd>
  <dt>Zip</dt><dd>{{ object.zip }}</dd>
  <dt>Country</dt><dd>{{ object.country }}</dd>
  <dt>Description</dt><dd>{{ object.description }}</dd>
  <dt>Instructions</dt><dd>{{ object.instructions }}</dd>
</dl>
